<div class="buttons-container">
    <div class="options-buttons">
        <button class="add-graph-button">Add Graph Derivative</button>
        <button class="like-button">Like</button>
        <div class="like-counter-container">
            <p class="like-counter">{{likes}}</p>                                
        </div>

    </div>                        
    </div>

    <div class="image-box">
    <img class="image-restrictions" src="{{graph}}" alt="{{title}}">
    </div>

    <div class="info-text">
    <div class="text-box">
        <p class="center-text">{{title}}</p>
        <p class="center-text">Published by {{personName}}</p>
        <p class="center-text">{{date}}</p>
        
    </div>
</div>